@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "ta-nav.css";
@import "ta-btn.css";
@import "ta-dropdown.css";
@import "ta-responsive-behavior.css";
@import "ta-layout.css";
@import "ta-box.css";
@import "ta-show-up-bar.css";

html {
    overflow: hidden;
}

body {
    height: 99vh;
    padding: 0;
    margin: 0;
}

/*display grid*/
.main-container {
    display: grid;
    grid-template-areas: var(--layoutLeftBar);
    grid-template-rows: 10% 80% 10%;
    grid-column-gap: 5px;
    height: 100%;
    padding: 0 25px 0;
    background-image: var(--mainBackground);
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 960px){
    .main-container {
        margin: 0;
        padding: 0;
    }

    .main-container {
        display:grid;
        grid-template-areas: var(--layoutSm);
    }
}