html {
    overflow: hidden;
}

body {
    height: 95vh;
    padding: 0;
    margin: 0;
}
/*size*/
.main-container {
    height: 100%;
    padding: 2%;
}

/*background color and font*/
.main-container {
    background-image: linear-gradient(to bottom right, #222eee, #17dce3);
    color: #e1e1e1;
}