.ta-btn {
    border: 2px solid var(--borderColor);
    border-radius: 20px;
    background-color: var(--btnBackgorundColor);
    color: inherit;
    white-space: nowrap;
    box-shadow: 2px 2px var(--shadowColor);
}

.ta-btn:hover {
    cursor: pointer;
    background-color: var(--btnBackgroundColorHover);
    border-color: var(--borderColorHover);
    color: var(--textColorHover);
}

/* BTN SIZES */
.ta-btn-regular {
    font-size: 25px;
    padding: 7px;

}

.ta-btn-mini {

}

.ta-btn-big {

}