.ta-btn {
    border: 2px solid;
    border-radius: 20px;
    white-space: nowrap;
}

.ta-btn {
    box-shadow: var(--boxShadow);
    background-color: var(--btnBackgorundColor);
    color: var(--btnTextColor);
    border-color: var(--btnBorderColor);
}

.ta-btn:hover {
    cursor: pointer;
    background-color: var(--btnBackgroundColorHover);
    border-color: var(--btnBorderColorHover);
    color: var(--btnTextColorHover);
}

/* BTN SIZES */
.ta-btn-regular {
    font-size: 25px;
    padding: 7px;

}

.ta-btn-mini {

}

.ta-btn-big {

}