.ta-dropdown {
    position: relative;
    display: inline-block;
}

.ta-dropdown:hover .ta-dropdown-btn {
    cursor: pointer;
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.ta-dropdown-left .ta-dropdown-content {
    border-top-left-radius: 0;
}

.ta-dropdown-right .ta-dropdown-content {
    right: 0;
    border-top-right-radius: 0;
}

.ta-dropdown-btn {
    position:relative;
    box-shadow: var(--boxShadow);
    border: 2px solid;
    border-radius: 20px;
    color: var(--btnTextColor);
}

.ta-dropdown-btn {
    box-shadow: var(--boxShadow);
    background-color: var(--btnBackgorundColor);
    color: var(--btnTextColor);
    border-color: var(--btnBackgorundColor);
}

.ta-dropdown-btn:hover {
    background-color: var(--btnBackgroundColorHover);
    color: var(--btnTextColorHover);
    border-color: var(--btnBorderColorHover);
}

.ta-dropdown-btn-regular {
    font-size: 25px;
    padding: 7px;
}

.ta-dropdown-btn-mini {

}

.ta-dropdown-btn-big {

}

.ta-dropdown-content {
    display: none;
    padding: 5px;
    min-width: 200px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid;
}

.ta-dropdown-content {
    box-shadow: var(--boxShadow);
    background-color: var(--boxBackgorundColor);
    color: var(--boxTextColor);
    border-color: var(--boxBorderColor);
}

.ta-dropdown-content:hover {
    background-color: var(--boxBackgorundColorHover);
    color: var(--boxTextColorHover);
    border-color: var(--boxBorderColorHover);
}

.ta-dropdown:hover .ta-dropdown-content {
    display: block;
    position: absolute;
}

.ta-dropdown-content-item {
    height: 50px;
}

.ta-dropdown-content-item {
    background-color: var(--itemBackgroundColor);
    color: var(--itemTextColor);
    border-color: var(--itemBorderColor);
}

.ta-dropdown-content-item:hover {
    cursor: pointer;
    background-color: var(--itemBackgroundColorHover);
    color: var(--itemTextColorHover);
    border-color: var(--itemBorderColorHover);
}