.ta-nav {
    border: 2px solid;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-height: 80px;
}

.ta-nav {
    box-shadow: var(--boxShadow);
    background-color: var(--navBackgroundColor);
    color: var(--navTextColor);
    border-color: var(--navBorderColor);
}

.ta-nav:hover {
    border-color: var(--navBorderColorHover);
    background-color: var(--navBackgroundColorHover);
    color: var(--navTextColorHover);
}

.ta-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.ta-nav-item {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
}

.ta-nav-item-group {
    display: inline-flex;
    margin-left: 4%;
    margin-right: 4%;
}

.ta-nav-tittle {
    letter-spacing: 3px;
    font-size: 40px;
    /*text-shadow: 2px 2px var(--textShadowColorHover);*/
}

@media only screen and (max-width: 960px) {
    .ta-nav {
        margin-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
}