:root {
    --mainBackground: linear-gradient(to bottom right, #222eee, #17dce3);

    --shadowColor: #414141;
    --textShadow:none;
    --textShadowColorHover: black;

    --textColor: #414141;
    --textColorHover: #414141;

    --borderColor: #414141;
    --borderColorHover: #414141;

    --backgroundColor: #e1e1e1;
    --backgroundColorHover: #e1e1e1;

    --btnBackgorundColor: inherit;
    --btnBackgroundColorHover: #a1a1a1;
    --btnTextColor: none;
    --btnTextColorHover: none;

    --boxBackgorundColor: #e1e1e1;
    --boxBackgorundColorHover: none;
    --boxTextColor: none;
    --boxTextColorHover: none;
}